.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  max-width: 1440px;
}

.link-unset {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 1px 1px;
  letter-spacing: 1.5px;
  line-height: 2.5rem;
  font-style: oblique;
  margin-left: 2rem;
}

@media (min-width: 1560px) {
  .app {
    align-items: center;
  }

  .container {
    width: 100%;
  }
}
