body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-background: #f1f1f9;
  --color-background-dark: #e0e0e8;
  --color-blue-light: #72beda;
  --color-blue: #36a3ca;
  --color-blue-dark: #25728d;
  --color-red-light: #f13535;
  --color-red: #e60023;
  --color-red-dark: #c4001d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
input,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  justify-content: center;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  max-width: 1440px;
}

.link {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 1px 1px;
  letter-spacing: 1.5px;
  line-height: 2.5rem;
  font-style: oblique;
  margin-left: 2rem;
}

@media (min-width: 1560px) {
  .app {
    align-items: center;
  }

  .container {
    width: 100%;
  }
}
